/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    background-image: url('https://stmed.net/sites/default/files/wildstar-hd-wallpapers-33898-741305.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

#footer {
    position:absolute;
    bottom: 0;
    width: inherit;
    height: 50px; /* Height of the footer */
    text-align:center;
    color:white;
    text-shadow: 3px 3px 3px black;
    border-color: black;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}

#inputField {
    background-color: rgba(130, 251, 245, 0.4);
    width: 200px;
    border:dashed;
    border-width:thin;
    border-color: aqua;
}

#buttonReg {
    background: none;
    border: solid;
    border-color: aqua;
}

#registrationDiv {
    background-color: rgba(130, 251, 245, 0.3);
    width: 100%;
    height: 100%;
    /*background-image: url('https://i.stack.imgur.com/sIIwU.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;*/
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
