@{
    ViewData["Title"] = "It looks like the ship crashed!";
}
<h2>@ViewData["Title"]</h2>

<p id="textConsistency">For weird monkey reasons it looks like your registration failed in our system, please try again or preferably later or contacted the owners to report the issue</p>
