@{
    ViewData["Title"] = "Registration Failed";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<strong>Reason:</strong>
<p id="textConsistency"> Your passwords didn't match, go back and try again cupcake.</p><br />


