@{
    ViewData["Title"] = "Registration Successful";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<strong id="textConsistency">SUCCESS!</strong>
<p id="textConsistency">Board your ship and head straight to nexus cupcake!</p>
